@import "tailwindcss";

@tailwind utilities;

@theme {
  --font-montserrat: var(--font-montserrat);
  --font-sans: var(--font-source-sans);
  --color-light: #fafafa;
  --color-dark: #010101;
  --color-grey: #99a1af;
  --color-accent: #26cefd;
}

@layer base {
  h1 {
    @apply text-4xl font-bold lg:text-6xl;
  }

  h2 {
    @apply text-[40px] font-semibold;
  }

  h3 {
    @apply text-3xl lg:text-[32px] font-semibold;
  }

  h4 {
    @apply text-2xl font-semibold;
  }

  h5 {
    @apply text-xl font-medium;
  }

  p,
  ul,
  li {
    @apply text-xl;
  }

  ul {
    @apply font-light;
  }

  input,
  textarea {
    @apply caret-accent text-xl pointer-events-auto text-center placeholder:text-grey;
  }

  #modal p {
    @apply text-base lg:text-xl;
  }
}

:root {
  color-scheme: dark;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background: #010101;
  color: #fafafa;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-source-sans);
  letter-spacing: 0.08em;
  overflow-x: hidden;
}

canvas {
  touch-action: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

.can-scroll {
  overflow-y: scroll !important;
}

input:focus {
  outline: none;
  box-shadow: none;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.hud-title-bg {
  background-image: url("/hud/top-middle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hud-keyboard-icon-bg {
  background-image: url("/hud/arrow-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hud-btn-bg {
  background-image: url("/hud/btn-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
}
